# Игнорировать виртуальное окружение
.venv/
env/
venv/

# Игнорировать кэш Python
__pycache__/
*.pyc

# Игнорировать локальные базы данных SQLite
*.db
*.sqlite
*.sqlite3

# Игнорировать файлы конфигурации с конфиденциальной информацией (если используются локально)
.env

# Игнорировать файлы, специфичные для операционных систем
.DS_Store
Thumbs.db

# Игнорировать файлы, специфичные для IDE (например, VS Code)
.vscode/

# Игнорировать журналы
*.log

# Игнорировать файлы, созданные при сборке
dist/
build/

